html {
    scroll-behavior: smooth;
}

/*typo*/

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}

h1 {
    font-family: 'LT Museum';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 140%;
}

h2 {
    font-family: 'LT Museum';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;
}

h3 {
    font-family: 'LT Museum';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}

p {
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}


li {
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
}


ul.space {
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
}

p .deroul {
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

p .derouler {
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

p .deroula {
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

p .info {
    font-family: 'Basier Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}


/*menu barre*/

header {
    height: 57px;
    width: 100%;
    font-family: 'Basier Circle';
    font-style: normal;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
    z-index: 10;
}



header .navbar ul {
    display: flex;
    height: 100%;
}

header .navbar2 ul {
    display: flex;
    height: 100%;
}

.titre {

    padding-left: 16px;
    padding-bottom: 0;
    padding-right: 16px;
}

.navbar ul li {
    height: 100%;
}

.navbar2 ul li {
    height: 100%;
}

.navbar img {
    height: 100%;
}

.navbar2 img {
    height: 100%;
}


header .navbar li a {
    display: block;
    color: #000;
    background-color: white;
    text-decoration: none;
    height: 100%;
}

header .navbar2 li a {
    display: block;
    color: #000;
    background-color: white;
    text-decoration: none;
    height: 100%;
}

header .navbar li a p {
    height: 100%;
}

header .navbar2 li a p {
    height: 100%;
}

header .navbar li a:hover {
    background-color: #00243d;
    color: white;
    text-decoration: none;
}

header .navbar2 li a:hover {
    background-color: #00243d;
    color: white;
    text-decoration: none;
}

header .navbar .deroul:hover .menu {
    background-color: #00243d;
    color: white;
    text-decoration: none;
}

header .navbar2 .deroul:hover .menu {
    background-color: #00243d;
    color: white;
    text-decoration: none;
}

header .navbar ul li:hover ul {
    display: block;
}

header .navbar2 ul li:hover ul {
    display: block;
}

.deroula:hover .titre {
    background-color: #00243D;
    color: white;
}

header .navbar ul li:hover .titre {
    background-color: #00243d;
    color: white;
    text-decoration: none;

}

header .navbar2 ul li:hover .titre .menu {
    background-color: #00243d;
    color: white;
    text-decoration: none;

}

.derouler {
    padding: 10px;
}

/*fin menu barre*/




header #seaching {
    width: 182px;
    height: 27px;
}


header .logo {
    height: 55px;
    width: 88px;
}

header .logo img {
    height: 100%;

}

header .menu {
    height: 57px;
    width: 55px;


}

header .menu img {
    height: 100%;
}

header .p {
    display: none;
}

header .searcha:hover.p {
    display: block;
}


header .searcha {
    height: 57px;
    width: 55px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    /* opacity: 0; */
}

header .searcha img {
    width: 100%;
    height: 95%;
}

/*interieur barre*/

header .navbar li ul {
    display: none;
    /* border: 1px solid black; */

}

header .navbar2 li ul {
    display: none;
    /* border: 1px solid black; */

}

header .navbar li ul :last-child {
    /* border: bottom 1px black; */
}

header .navbar2 li ul :last-child {
    /* border: bottom 1px black; */
}

header .navbar li ul :hover {
    background-color: #E0F3FF;
    color: black;
    text-decoration: none;
}

header .navbar2 li ul :hover {
    background-color: #E0F3FF;
    color: black;
    text-decoration: none;
}

/*fin code header ordi*/

/* début code header tel */
@media(max-width:1024px) {
    header {
        width: 100%;
        height: 120px;
        display: block;
        position: relative;
    }

    .derouler {
       
        padding: 0px;

    }

    a .reserver {
        height: 100%;
        top: 0;
    }

    header .navbar ul li:hover ul {
        display: none;
    }

    p {
        font-size: 19px
    }

    header .logo {
        height: 75px;
        width: 70px;
        display: inline-block;
        position:absolute;
    left: 20px;
top: 5px;


    }

header .logo a{
    width: 70px;
    height:75px;
}

    header .logo img {
        height: 75%;

    }

    .navbar {
        position: sticky;
    }

    header .navbar ul {
        height: 20%;
        justify-content: center;
    }

    header ul li {
        height: 50px;

    }

    .navbar ul li {
        height: 25px;
    }

    .reserver {
        top: 10px;
    }

    .navbar2 {
        position: sticky;
    }

    header .navbar2 ul {
        height: 29%;
        justify-content: right;
    }
    .navbar2 ul li{ height: 50px;
    }
    header .reserver img{
        height: 100%;
    }
    header .searcha img{
        height: 80%;
        width: 90%;
    }
    header .menu {
height: 50px;
width:60px;
    }
    header .menu img{
        height: 100%;
        width: 100%;
    }
    header{
        display: flex;
        flex-direction: column-reverse;
    }
}
/* Fin code header tel */
.cover {
    background-image: url("../image/musee_guimet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 57px);
    position: relative;
}


.cover h1 {
    display: flex;
    color: white;
    justify-content: end;
    text-align: end;
    font-family: 'LT Museum';
    font-style: normal;
    font-weight: 400;
    font-size: 76pt;
    line-height: 140%;
    margin-right: 4%;
}

@media (max-width: 1024px) {
    .cover h1 {
        font-size : 32pt;
    }
}

.cover .triangle {
    height: 166px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(5deg, #E0F3FF 0 50%, rgba(255, 255, 255, 0) 50% 100%);
    z-index: 2;
}




.cover .arrow {
    position: absolute;
    bottom: 32px;
    left: 32px;
    z-index: 9;
}

.agenda {
    background-color: #E0F3FF;

}

.agenda h2 {
    margin-left: 19.7%;
}

.agenda .square {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-left: 19.7%;
    margin-right: 11.9%;

}

.agenda .rectangle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}

.agenda .image-square {
    height: 100%;
    width: 100%;
    transition: transform 0.7s ease;

}

.agenda .image-rect {
    width: 100%;
    transition: transform 0.7s ease;

}

.agenda .bloc-square {
    display: flex;
    align-items: flex-end;
    margin-right: 1.7%;
    overflow: hidden;
}

.agenda .image-square:hover {
    transform: scale(1.08);
}

.agenda .bloc-rect {
    display: flex;
    align-items: flex-end;
    margin-right: 1.7%;
    overflow: hidden;
}

.agenda .image-rect:hover {
    transform: scale(1.07);
}

.agenda .info-square {
    position: absolute;
    width: 425px;
    height: 151px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.agenda .info-square h3,
.agenda .info-square p {
    padding-top: 1.5%;
    padding-left: 1.5%;
}

.agenda .info-rect {
    position: absolute;
    width: 324px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.agenda .info-rect h3,
.agenda .info-square p {
    padding-top: 1.5%;
    padding-left: 1.5%;
}

@media (max-width: 1024px) {
    .agenda .info-square {
        position: sticky;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .agenda .info-rect {
        position: sticky;
        margin-bottom: 10px;
        padding-bottom: 15px;
        width: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .agenda .square {
        display: block;
    }

    .agenda .rectangle {
        display: block;
    }

    .agenda .bloc-square {
        display: block;
    }

    .agenda .bloc-rect {
        display: block;
    }

    .agenda .info-square h3,
    .agenda .info-rect h3 {
        font-size: 18pt;
        padding-right: 10px;
    }

    .agenda .info-square p,
    .agenda .info-rect p {
        font-size: 16pt;
    }
}

.collec {
    background: linear-gradient(353deg, rgba(255, 255, 255, 0) 0 50%, #E0F3FF 50% 100%);
    padding-top: 9.7%;

}

.collec .splide button {
    background: transparent;
    border: 0;
}


.collec h2 {
    margin-left: 19.7%;
}

.collec .splideall {

    padding-top: 500px;
    padding-bottom: 500px;
}

.collec #scroll_to_top {
    z-index: 5;
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.collec #scroll_to_top img {
    width: 50px;
}


.collec .splide__arrow--next {
    margin-right: 8%;
    transform: scale(1.25);
    transition: transform 0.5s;
}

.collec .splide__arrow--prev {
    margin-right: 2%;
    transform: scale(1.25);
    transition: transform 0.5s;
}

.collec .splide__arrows {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}


.collec .splide__arrow--prev:hover {
    transform: scale(1.55);
    transition: transform 0.5s;
}


.collec .splide__arrow--next:hover {
    transform: scale(1.55);
    transition: transform 0.5s;
}





.collec .splide__slide {

    background-size: cover;
    background-position: center;
    margin: 0 50px 0 0;
    overflow: hidden;
}


.collec .splide__slide {
    width: 350px;
    height: 350px;
}

.collec .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.collec .splide__slide img:hover {
    transform: scale(1.1);
}



.pause {

    border: 2px solid black;
    margin-top: 200px;
    height: 400px;
    background-image:
        url("/image/pause/imageintmusée.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.event {
    background-color: #E0F3FF;
}

.event .triangle {
    height: 30vw;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(5deg, #E0F3FF 0 50%, rgb(255, 255, 255) 50% 100%);
}

.event h2 {
    margin-left: 19.7%;
}

.event .square {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    margin-left: 19.7%;
    margin-right: 11.9%;
    padding-bottom: 11.3%;
}

.event .rectangle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}

.event .image-square {
    height: 100%;
    width: 100%;
    transition: transform 0.7s ease;
}


.event .image-rect {
    width: 100%;
    transition: transform 0.7s ease;

}

.event .bloc-square {
    display: flex;
    align-items: flex-end;
    margin-right: 1.7%;
    overflow: hidden;
}

.event .image-square:hover {
    transform: scale(1.08);
}

.event .bloc-rect {
    display: flex;
    align-items: flex-end;
    margin-right: 1.7%;
    overflow: hidden;
}

.event .image-rect:hover {
    transform: scale(1.07);
}

.event .info-square {
    position: absolute;
    width: 425px;
    height: 151px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.event .info-square h3,
.event .info-square p {
    padding-top: 1.5%;
    padding-left: 1.5%;
}

.event .info-rect {
    position: absolute;
    width: 324px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.event .info-rect h3,
.event .info-rect p {
    padding-top: 1%;
    padding-left: 1%;
}

@media (max-width: 1024px) {
    .event .info-square {
        position: sticky;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .event .info-rect {
        position: sticky;
        margin-bottom: 10px;
        padding-bottom: 15px;
        width: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .event .square {
        display: block;
    }
    .event .rectangle {
        display: block;
    }
    .event .bloc-square {
        display: block;
    }
    .event .bloc-rect {
        display: block;
    }
    .event .info-square h3,
    .event .info-rect h3 {
        font-size: 18pt;
    }
    .event .info-square p,
    .event .info-rect p {
        font-size: 16pt;
    }
}

footer {
    background-color: #00243D;
    color: white;
}

footer a {
    color: white;
}

footer .titre {
    padding-bottom: 10%;
}

footer .logo {
    padding-left: 4.2%;
}

footer .space {
    padding-bottom: 10%;
}

footer .box-menue {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 4.2%;
}

footer .expo {
    padding-bottom: 10%;
}

footer .box-reseau {
    display: flex;
    flex-direction: column;
}

footer .reseau {
    width: 40%;
    height: auto;
}

footer .box-bas {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 2%;

}
.space a img{
    padding-bottom: 10px;
}

@media (max-width:1024px) {

    footer .box-menue {
        display: block;
    }

    footer .barre {
        display: none;
    }

    footer .reseau {
        width: 55px;
    }

    footer .box-reseau {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cover .triangle {
        display: none;
    }

    #scroll_to_top {
        display: none;
    }

    .collec .splide__arrow--next {
        display: none;

    }

    .collec .splide__arrow--prev {
        display: none;
    }

    .collec .splide__slide {
        width: 220px;
        height: 220px;
    }
    .space a img{
        padding: 10px;
    
}